body {
  background: #323232;
}

@media(min-width: 1000px) {
.ionic-app {
  width: 375px;
  height: 812px;
  margin: auto;
  border: 10px solid #191919;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 5px 6px rgba(15, 15, 15, 1);
  }
}
